# This is the Jekyll configuration template that's used for production and staging. It's used by
# jenkins_push.yml before the site build is performed.

name: Rackspace Developer Portal
url: http://developer.rackspace.com

markdown: redcarpet
redcarpet:
  extensions: [ "tables" ]
highlighter: pygments
paginate: 10
relative_permalinks: true
permalink: /blog/:title
paginate_path: /blog/page:num
recent_posts: 5
excerpt_separator: "<!-- more -->"
subscribe_rss: /atom.xml

#Disqus config
disqus_short_name: devopsrackspace
disqus_show_comment_count: false

# jekyll-assets plugin configuration.
assets:
  sources:
  - _assets/img
  - _assets/fonts
  - _assets/js
  - _assets/css
  js_compressor: ~
  css_compressor: ~
  gzip: false

# Blog categories
category_dir: blog/categories
